$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 1rem 5.5rem;
$size-title: '1.5rem';
.finalPrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin:0;
    font-size: 2em;
  }
  h3{
    color:#008dde;
    font-size: 2.4em;
    font-weight: 300;
  }
}
.AppCalculate{
  width: 600px;
  height: 300px;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  .options{
    width: 100%;
    padding: 0vh 5vw;

    h1{
      text-align: center;
      font-family: $font-family;
      font-size: 1.5em;
      color:#3d3935;
          margin-top: -1em;      
    }
    div{
      display: flex;
      justify-content: space-between;      
      
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 8vw;
        height: 15vh;
        div{
          &:hover{
            border-bottom: 3px solid #64E4CF;
          }
          flex-direction: column;
          img{
            display: flex !important;
            margin-top: 2rem;
          }
          p{
            font-size: 0.8em;
            font-weight: 400;
            margin-top: 0;
          }
        }
       
      }
    }
  }
  .welcomeApp{
    padding: 7vh 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
      font-family: $font-family;
      font-size: 1.5em;
      margin-bottom: 0px;
      color:#3d3935;
    }
    p{
      font-family: $font-family;
      font-size: 1em;
      color:#3d3935;
      font-weight: lighter;
      margin-top: 0px;
      margin-bottom: 2.5rem;
    }
    button{
      background-color: #008dde;
      color: #ffffff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-radius: 10em !important;
      text-align: center;
      border: 1px solid #008dde;
      cursor: pointer;
      padding: 1em 3em;
      font-weight: 600;
    }
  }
}