.Button{
  background-color: white;
  color: #2b2b2b;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-radius: 5em !important;
  text-align: center;
  border: 1px solid #2b2b2b;
  cursor: pointer;
  padding: 1em 3em;
  font-weight: 600;
  &:hover{
    background-color: #F7F7F7;
    color:gray ;
    transition: 0.1s;
  }
}
.btn-one{
  background-color: #041C72 !important;
}