$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: 'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';
.start{
  flex-direction: row-reverse;
}
.Feature{
  display: flex;
  justify-content: space-between;
  min-height: 50vh;
  padding: 2rem 5.5rem;
  .feature-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    p{
      h2{
        color: 1b1b1b;
      }
      h4{
       color:#95a0b0;
      }
      p{
        color:#2b2b2b;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .Feature{
    padding: 0rem 1rem;
    min-height: 45vh !important;
    align-items: flex-start;
    .feature-text{
      width: 100vw;
    }
    .feature-image{
      display: none;
    }
  }
}