.Ficha-app{
  padding: 2rem 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40vh;
  background-color: white;
  border-top: #797979;
  .ficha-image{
    img{
      width: 40em;
    }
  }
  .ficha-description{
    h1{
      font-weight: 400;
      font-size: 3em;
      color:#404040;
      margin-top: 0;
      span{
        color: #2b2b2b;
        font-weight: 500;
      }
    }
    p{
      line-height: 1.6em;
      font-size: 1.1rem;
      color:#777777;
    }
  }
}
@media only screen and (max-width: 414px) {
  .Ficha-app{
    flex-direction: column;
    padding: 2rem 1rem;
    min-height: 20vh;
    .ficha-description{
      h1{
        font-size: 2em;
      }
      p{
        font-size: 1em;
      }
    }
    .ficha-image{
      display: none;
    }
  }
}