$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 1rem 5.5rem;
$size-title: '1.5rem';

.Footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5.5rem;
  align-items: center;
  background-color: #2B2B2B;
  h2{
    color:white;
    margin: 0;
    font-size: 0.8em;
    font-family: $font-family;
  }
  li{
    color:#f1f2f3;
    font-size: 0.8em;
    list-style: none;
    font-family: $font-family;
  }
}
.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2B2B;
  div{
    h4{
      color: white;
      font-family: $font-family;
      font-weight: lighter;
      font-size: 0.7em;
    }
  }
}
@media only screen and (max-width: 414px) {
  .Footer{
    padding: 1rem 1rem;
    flex-wrap: wrap;
    div{
      width: 40vw;
      padding: 1em 0;
      h2{
        margin-bottom: 1vh;
      }
    }
  }
}