$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 1rem 5.5rem;
$size-title: '1.5rem';

.Header{
  display: flex;
  height: $height-Header;
  justify-content: space-between;
  padding: $padding;
  .container-logo{
    width: 330px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    p{
      h1 {margin:0vh 0vw;font-size: 1.5rem;font-family: $font-family;color:$color-links;font-weight: 500;}
      h3{margin: 0vh 0vw;font-size:0.7rem;font-family: $font-family;color: #008dde;font-weight: lighter;}
    }
  }
  .primary-menu{
    display: flex;
    align-items: center;
    nav{
      display: flex;
      list-style: none;
      li{
        font-family: $font-family;
        padding: 0vh 1rem;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        font-weight: lighter;
        color: $color-links
        img{
          width: 1.6em;
        }
      }
    }
  }
}

