$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 1rem 0rem;
$size-title: '1.5rem';
.Home{
  overflow-x: hidden;
}
.Header{
  display: flex;
  height: $height-Header;
  width: 100%;
  justify-content: space-around;
  padding: $padding;
  background-color: #2095f2;
  transition: 1s ease;
  .container-logo{
    width: 330px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    cursor:pointer;
    p{
      h1 {
        margin: 0vh 0vw;
        font-size: 1.5rem;
        font-family: $font-family;
        font-weight: 800;
        color:white;;
      }
      h3{margin: 0vh 0vw;font-size:0.7rem;font-family: $font-family;color: white;font-weight: 700;}
    }
  }
  .menu-mobile{
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding-left: 4em;
  }
  .app-menu{
    display: flex;
    align-items: center;
  }
  .primary-menu{
    display: flex;
    color: white;
    align-items: center;
    nav{
      display: flex;
      list-style: none;
      color:white;
      li{
        a{
          text-decoration: none;
          font-family: $font-family;
          padding: 0vh 1rem;
          font-size: 1.2em;
          display: flex;
          align-items: center;
          font-weight: 300;
          color: white;
        }
        img{
          width: 1.6em;
        }
      }
    }
  }
}

//.HeaderPosition{
//  //-webkit-box-shadow: 0px 2px 4px -1px rgba(0,141,222,1);
//  //-moz-box-shadow: 0px 2px 4px -1px rgba(0,141,222,1);
//  //box-shadow: 0px 2px 4px -1px rgba(0,141,222,1);
//  transition: 2s ease;
//  position: fixed;
//  background-color: white ;
//  max-height: 5vh;
//  .container-logo{
//    min-height: 2rem !important;
//    height: 0rem ;
//  }
//}
.logo{
  width: 2.3rem;
}
.u-flex{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 414px) {
  .Header{
    justify-content: flex-start;
    padding: 0vh 0vw;
    align-items: center;
    .container-logo{
      padding-left: 1rem;
      width: 80vw;
      .reference-logo{
        font-size: 2em;
        display: flex;
        align-items: center;
        width: 64vw;

      }
      .menu-mobile{
        display: flex;
      }
    }
    .primary-menu{
      display: none;
    }
    .app-menu{
      display: none;
    }
    .menu-mobile{
      display: flex;
      padding-left: 0;
      img{
        width: 2rem;
      }
    }
  }
  .HeaderPosition{
    min-height: 12vh;
    align-items: center;
    .reference-logo{
      margin-bottom: 0;
    }
    .container-logo{
      justify-content: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}