$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: 'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';

.Home{
  .MainMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    h1{
      width: 70vw;
      text-align: center;
      font-family: $font-family;
      margin-bottom: 0px;
      font-size: 2.5rem;
      font-weight: lighter;
      color: #404040;
      text-transform: uppercase;
    }
    p{
      font-size: 0.9rem;
     color:#999999;
      width: 70vw;
      margin-bottom: 0px;
      font-family: 'Varela Round';
      text-align: center;
    }
  }
}