$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';
.HowWork{
  background-color: #F7F7F7;
  padding: $padding;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  .section-features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0;
    .feature-item{
      background-color: white;
      width: 15rem;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-radius: 4px 4px 4px 4px;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      //border: 1px solid #041c72;
      padding: 3vh 1vw;
      h3{
        font-family: $font-family;
        color: #404040;
      }
      p{
        font-family: $font-family;
        color:#999999;
        font-size: 0.9em;
      }
    }
  }
  .section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 42px;
      font-weight: normal;
      margin: 0px;
      font-family: $font-family;
      text-transform: uppercase;
      color: #008dde;
    }
    p{
      font-family: $font-family;
      color:#999999;
    }
  }
}

.bg-red{background-color: #F34F33;height: 1px}
.bg-marine{background-color: #4DBFA6;height: 1px}
.bg-piel{background-color: #FAB87B;height: 1px}
.bg-marine-dark{background-color: #51BFBE;height: 1px}
