.Menu-Mobile{
  visibility: hidden;
}
.show-menu{
  display: flex;
}
@media only screen and (max-width: 414px) {
  .Menu-Mobile{
    position: fixed;
    flex-direction: column;
    top: 0px;
    width: 100vw;
    height: 100vh;
    padding-top: 1rem !important;
    background-color: white;
    .service-menu-m{
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
    .header-menu-mobile{
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;
      background-color: #008dde;
      max-height: 10vh;
      h1{
        color:white;
        text-align: center;
        font-size: 1.4em;
      }
      img{
        width: 1.5rem;
      }
    }
    .main-service{
      display: none;
    }
    .main{
      width: 100vw;
      display: flex;
      nav{
        width: 100vw;
        list-style: none;
        li{
          display: flex;
          align-items: center;
          font-size: 1.7em;
          padding: 2.5vh 1rem;
          border-bottom: 1px solid #404040;
          img{
            width: 1.3rem;
            margin-right: 0.5rem;
          }
          a{
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
            color:#999999;
          }
        }
      }
    }
  }
}