.ContainerPack{
  display: flex;
  padding: 0 5rem 0 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.no-list{
  list-style: none;
  text-decoration: none;
}
.pack{
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  justify-content: space-evenly;
  min-width: 15rem;
  max-width: 17rem;
  padding: 1rem;
  margin:1vh 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  h2{
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
  }
  ul{
    li {
      color: #2B2B2B;
      font-size: .7rem;
    }
    }
}