$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: "Google Sans Display", "Heebo", Arial, "sans-serif";
$padding: 2rem 5.5rem;
$size-title: '1.5rem';
.tick{
  width: 1rem;
  padding-top: 2px;
  margin-right: 10px;
}
.ServiceWall{
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .image{
    width: 30%;
    img{
      width: 20rem;
    }
  }
  .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    h1{
      color: #2b2b2b;
      font-family: $font-family;
      text-align: left;
      width: 70%;
      font-size: 16px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 20px;
    }
    h4{
      margin-bottom: 0;
      margin-top: 0;
      color: #2b2b2b;
      font-family: $font-family;
      font-size: 40px;
      text-align: left;
      line-height: 15vh;
      width: 70%;

    }
    ul{
      margin-top: 10px;
      list-style: none;
      padding-left: 0;
      margin-left: 0;
      li{
        font-weight: 300;
        color: #2b2b2b;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .ServiceWall{
    flex-direction: column;
    align-items: center;
    ul{
      padding: 0 1rem !important;
    }
    .description{
      width: 100vw;
      h1{
        text-align: center;
        width: 100vw;
        font-size: 40px;
      }
      h4{
        font-size: 16px;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 16px;
        width: 100vw;
        line-height: 10vh;
      }
    }
    .image{
      img{
        width: 30vw;
      }
    }
  }
}