.u-flex{
  display: flex;
}
.u-flex-col{
  display: flex;
  flex-direction: column;
}

.w-30{
  width: 30vw;
}

.jc-between{
  justify-content: space-between;
}
.jc-center{
  justify-content: center;
}

.al-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.pad-tex{
  padding: 0rem 1.5rem;
}
.content{
  padding: 0rem 3rem;
}

.img-responsive{
  width: 15%;
}