$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: 'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';

.u-flex{
  display: flex;
}
.u-flex-col{
  display: flex;
  flex-direction: column;
}

.w-30{
  width: 30vw;
}

.jc-between{
  justify-content: space-between;
}
.jc-center{
  justify-content: center;
}

.al-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.pad-tex{
  padding: 0rem 1.5rem;
}
.pad-3-h{
  padding: 3rem 3rem ;
}
.content{
  padding: 0rem 3rem;
}

.img-responsive{
  width: 15%;
}
.img-responsive-35{
  height: 20rem;
  width: 35rem;
}
.img-responsive-25{
  width: 25rem;
}
.img-pack{
  width: 10%;
  margin-right: 5px;
}
.input-default{
    padding: .5rem;
    border: 1px solid #e6e6e6;
    margin: .5em .0em;
    font-size: 14px;
    height: 20px;
    padding: 7px 11px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    height: 28px;
    margin: 1px 1px 0 1px;
}
.font-title-2{
  font-family: "Google Sans Display", "Heebo", Arial, "sans-serif";
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 300;
}
.font-description{
  margin-top: 0px;
  font-family: "Google Sans Display", "Heebo", Arial, "sans-serif";
  font-size: .9em;
}
.w-50{
  width: 50%;
}
.w-75{
  width: 75%;
}
.w-100{
  width: 100%;
}
.h-45{
  min-height: 45vh;
}
.h-20{
  min-height: 20vh;
}
.h-70{
  min-height: 70vh;
}
.h-100{
  min-height: 100vh;
}
.content-box{
  display: flex;
  padding: 3em 5rem;
  min-height: 10vh;
  justify-content: space-around;
}

.color-parrafo{
  color: #95a0b0;
}
@media only screen and (max-width: 414px) {
  .s-tech{
    flex-direction: column;
  }
  .item-info{
    width: 100%;
    padding: 1vh 0vh;
  }
  .content-box{
    flex-direction: column;
    padding: 1rem .5rem;
    div{
      width: 100%;
    }
  }
}
.contact-title{
  font-weight: 300;
  font-size: 3rem;
}
.contact-parrafo{
  font-size: 1.2rem;
}
.box-container{
   flex-shrink: 0;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    min-height: 0;
    width: 45%;
}
.formulario-contacto{
  padding: 48px 40px 36px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.button-header{
  background: #1479fb;
  border: 1px solid #1479fb;
  border-radius: 6px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  letter-spacing: normal;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  text-shadow: none;
  width: 100%;
}
.btn-1{
  border: 2px solid #448aff;
    border-radius: 4px;
    color: #448aff;
    font-size: 16px;
    height: auto;
    line-height: 16px;
    left: -50%;
    margin: auto;
    background: none !important;
}
.btn-pack{
  background: #1479fb;
    border: 1px solid #1479fb;
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    font-family: "Google Sans Display", "Heebo", Arial, "sans-serif";
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    letter-spacing: normal;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    text-shadow: none;
    font-weight: 800;
}

//size

.u-w100{
  width: 100vw;
}