$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: 'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';

.u-flex{
  display: flex;
}
.u-flex-col{
  display: flex;
  flex-direction: column;
}

.w-30{
  width: 30vw;
}

.jc-between{
  justify-content: space-between;
}
.jc-center{
  justify-content: center;
}

.al-center{
  align-items: center;
}
.text-center{
  text-align: center;
}
.pad-tex{
  padding: 0rem 1.5rem;
}
.pad-3-h{
  padding: 3rem 3rem ;
}
.content{
  padding: 0rem 3rem;
}

.img-responsive{
  width: 15%;
}
.img-responsive-35{
  height: 20rem;
  width: 35rem;
}
.img-responsive-25{
  width: 25rem;
}
.font-title-2{
  font-family: $font-family;
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 300;
}
.font-description{
  margin-top: 0px;
  font-family: $font-family;
  font-size: .9em;
}
.h-45{
  min-height: 45vh;
}
.h-20{
  min-height: 20vh;
}
.h-70{
  min-height: 70vh;
}
.content-box{
  display: flex;
  padding: 3em 0;
  min-height: 10vh;
  justify-content: space-around;
}

.color-parrafo{
  color: #95a0b0;
}
@media only screen and (max-width: 414px) {
  .s-tech{
    flex-direction: column;
  }
  .item-info{
    width: 100%;
    padding: 1vh 0vh;
  }
  .content-box{
    flex-direction: column;
    padding: 1rem;
    div{
      width: 100%;
    }
  }
}
