$height-Header: '110px';
$background-Header: '#ffffff';
$color-links: '#2f2c2c';
$font-family: 'Varela Round';
$padding: 2rem 5.5rem;
$size-title: '1.5rem';

.Why {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  .why-container-image{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }
  }
  .why-container-text {
    width: 40vw;

    h1 {
      font-size: 2.5rem;
      color: #2b2b2b;
      margin-bottom: 0px;
      font-family: 'Varela Round';

    }
    h3{
      font-size: 1.3rem;
      color: #404040;
      margin-bottom: 0px;
      font-family: 'Varela Round';

    }
    p{
      font-size: 1rem;
      color: #999999;

      margin-bottom: 0px;
      font-family: 'Varela Round';
    }
  }
}
.no-list{
  list-style: none;
  padding-left: 0px;
}
@media only screen and (max-width: 414px) {
  .Why{
    min-height: 100vh;
    padding: 2rem 1rem;
    flex-direction: column;
    .why-container-image{
      min-width: 100vw;
    }
    .why-container-text{
      padding: 0 1rem;
      min-width: 100vw;
      h1{
        font-size: 1.6em;
      }
      p , h1 ,h3{
        padding: 0vh 1rem;
      }
    }
  }
}