$height-Header : '110px';
$background-Header : '#ffffff';
$color-links : '#2f2c2c';
$font-family :  'Varela Round';
$padding: 1rem 0rem;
$size-title: '1.5rem';
.Menu{
  visibility: hidden;
  position: absolute;
  display: flex;
  background-color: white;
  min-width: 70vw;
  top: 17vh;
  webkit-box-shadow: 0px 0px 60vh 60vw rgba(0, 0, 0, 0.75);
  .MenuServiceWeb{
    .TitleMenuService{
      width: 22vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2vw;
      text-align: center;
      //background-color: #008dde;
      color:#2b2b2b;
      h2{
        margin-bottom: 0;
      }
      p{
        font-size: 1em;
        font-weight: 300;
      }
    }
    .ServiceLink{
      width: 22vw;
      min-height: 17.8vh;
      display: flex;
      padding: 1vh 2vw;

      text-align: center;
      align-items: center;
      cursor:pointer;
      &:hover{
        background-color: slategrey;
        transition: .1s ease-out;
        p{color:white}
      }
      img{
        width: 3rem;
        margin-right: 15px;
      }
      p{
        text-align: left;
        h3{
          font-size: 1em;
          font-weight: 400;
        }
        p{
          font-size: 0.7em;
          font-weight: 300;
        }
        h3 , p{
          margin: 0 0;
        }
      }
    }
  }
}